<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="new server">

    <!-- Enable features -->
    <!--The Liberty Maven Plugin has generated Liberty features necessary for your application in configDropins/overrides/generated-features.xml-->
    <featureManager>
		<feature>jsfContainer-2.2</feature>
    <feature>jsp-2.3</feature>
    <feature>ejb-3.2</feature>

		<feature>localConnector-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime --> 
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <library id="shared_libs" filesetDir="/home/jost/git/maven-ear-example/shared" includes="*.jar"></library>
    <enterpriseApplication id="com.example.application" location="com.example.application.ear" name="com.example.application">
      <classloader commonLibraryRef="shared_libs" delegation="parentLast"></classloader>

    </enterpriseApplication>
</server>